// Import the default variable values.
@use "../../../newspack-theme/sass/variables-site/colors";
@use "../../../newspack-theme/sass/variables-site/fonts";

// Use @font-face to make the theme's font files available.
@font-face {
	font-family: "Noto Sans Devanagari";
	src: url("fonts/noto-sans-devanagari/NotoSansDevanagari_Condensed-Regular.ttf");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Noto Sans Devanagari";
	src: url("fonts/noto-sans-devanagari/NotoSansDevanagari_Condensed-SemiBold.ttf");
	font-weight: 600;
	font-display: swap;
}

// Now overlay our style-specific variables, so we're only overriding specific variables.
:root {
	--newspack-theme-font-heading: "Noto Sans Devanagari", "Helvetica", sans-serif;
}
